__pycache__/
*.pyc

output/
output_llm_adapters/
output_math/
wandb/
logs_commonsense/
logs_gsm8k/
logs_math/
results_commonsense/
results_gsm8k/
results_math/
results_commonsense_llm_adapters/
experiments/
